main {
  width: 300px;
  margin: 0 auto;
}
#main {
  width: 300px;
  height: 200px;
  margin-bottom: 8px;
}
.thumnails img {
  width: 56px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
nav li:hover {
  background: #f8f8f8;
}
#play {
  width: 140px;
}
#prev,
#next {
  width: 60px;
}
img {
  vertical-align: bottom;
}
.thumnails {
  display: grid;
  grid-template-columns: repeat(5, 56px);
  gap: 5px;
}
.thumnails li {
  cursor: pointer;
  opacity: 0.4;
}
.thumnails li:hover,
.thumnails li.current {
  opacity: 1;
}
